[submodule ".registry"]
	path = .registry
	url = https://github.com/o-frings/o-frings.r-universe.dev
	branch = HEAD
[submodule "klue"]
	path = klue
	url = https://github.com/o-frings/klue
	branch = main
